## Flight Price Prediction Dataset - [Link](https://github.com/krishnaik06/5-Days-Live-EDA-and-Feature-Engineering/tree/main/Flight%20Prediction) - EDA & Feature Engineering

In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df_train = pd.read_excel('Data_Train.xlsx') # reading the train file
df_train.head() # checking the contents of the dataframe

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [3]:
df_test = pd.read_excel('Test_set.xlsx') # reading the test file
df_test.head() # checking the contents of the dataframe

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info

In [102]:
df_final = df_train.append(df_test) # joining the dataframe
df_final.head() # checking the contents of the joined dataframe

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [5]:
df_final.info() # checking data types of columns and null values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

In [6]:
# checking for null values
df_final.isnull().sum()

Airline               0
Date_of_Journey       0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
dtype: int64

#### Checking Date_of_Journey

In [7]:
# extract date, time, year from Date_of_Journey (derive features)
df_final['Date'] = df_final['Date_of_Journey'].str.split('/').str[0]
df_final['Month'] = df_final['Date_of_Journey'].str.split('/').str[1]
df_final['Year'] = df_final['Date_of_Journey'].str.split('/').str[2]

# alternatively, we can achieve the same result using lambda function
# df_final['Date'] = df_final['Date_of_Journey'].apply(lambda x: x.split('/')[0])
# df_final['Month'] = df_final['Date_of_Journey'].apply(lambda x: x.split('/')[1])
# df_final['Year'] = df_final['Date_of_Journey'].apply(lambda x: x.split('/')[2])

In [8]:
# converting new date, month, year columns to type int
df_final['Date'] = df_final['Date'].astype(int)
df_final['Month'] = df_final['Month'].astype(int)
df_final['Year'] = df_final['Year'].astype(int)

In [9]:
# dropping date of journey column
df_final.drop('Date_of_Journey', axis = 1, inplace = True)

In [10]:
df_final.head(2) # checking contents

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,24,3,2019
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019

#### Checking Arrival_Time
`Arrival_Time` is in the format `HH:mm dd mmm` / `HH:mm` which is inconsistent.

In [11]:
# extracting only time in HH:mm from Arrival_Time column
df_final['Arrival_Time'] = df_final['Arrival_Time'].str.split(' ').str[0]

In [12]:
# extracting hours and minutes
df_final['Arrival_Hour'] =  df_final['Arrival_Time'].apply(lambda x: x.split(':')[0])
df_final['Arrival_Minutes'] =  df_final['Arrival_Time'].apply(lambda x: x.split(':')[1])

In [13]:
# converting hour and minutes columns to type integer
df_final['Arrival_Hour'] = df_final['Arrival_Hour'].astype(int)
df_final['Arrival_Minutes'] = df_final['Arrival_Minutes'].astype(int)

In [14]:
# dropping arrival time column
df_final.drop('Arrival_Time', axis = 1, inplace = True)

In [15]:
df_final.head(2) # checking the contents

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15

#### Checking Dep_Time (Departure Time)
`Dep_Time` is in the format `HH:mm`

In [16]:
# extracting hours and minutes
df_final['Dep_Hour'] =  df_final['Dep_Time'].apply(lambda x: x.split(':')[0])
df_final['Dep_Minutes'] =  df_final['Dep_Time'].apply(lambda x: x.split(':')[1])

In [18]:
# converting columns to type integer
df_final['Dep_Hour'] = df_final['Dep_Hour'].astype(int)
df_final['Dep_Minutes'] = df_final['Dep_Minutes'].astype(int)

In [19]:
# dropping dep_time column
df_final.drop('Dep_Time', axis = 1, inplace = True)

In [20]:
df_final.head(2) # checking the contents

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,5,50

#### Checking Route Values

In [21]:
# checking unique values for Total_Stops
df_final['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [23]:
df_final['Total_Stops'].isnull().sum() # checking Null values

1

In [27]:
# checking the null record
df_final[df_final['Total_Stops'].isnull()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,6,5,2019,9,25,9,45

Delhi to Cochin will have at least one stop, as the direct flight is not available

In [28]:
# mapping Total_Stops column to integer values
df_final['Total_Stops'] = df_final['Total_Stops'].map({'non-stop': 0, '2 stops': 2, 
                                                       '1 stop': 1, '3 stops': 3, 
                                                       'nan': 1, '4 stops': 4})

In [29]:
df_final.head(3)

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,BLR → DEL,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,19h,2.0,No info,13882.0,9,6,2019,4,25,9,25

In [30]:
df_final.drop('Route', axis = 1, inplace = True) # dropping Route column

In [31]:
df_final.head(2) # checking contents

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22,20
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,5,50

#### Checking Duration

In [62]:
# extracting duration hours
duration_hour = df_final['Duration'].apply(lambda x: x.split(' ')[0]).str.split('h').str[0]

` # converting the series to int type`  
`duration_hour.astype(int)` <-- the code throws an error as it finds '5m' in the series

In [66]:
# checking for record where duration is 5m as 5m duration is not possible
df_final[df_final['Duration'] == '5m']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,6,3,2019,16,55,16,50
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,12,3,2019,16,55,16,50

In [68]:
# removing the anomaly rows
df_final.drop([6474, 2660], axis = 0, inplace = True)

In [83]:
# again calculating duration hours from column duration
duration_hour = df_final['Duration'].apply(lambda x: x.split(' ')[0]).str.split('h').str[0].astype(int)

# converting hours to minutes
duration_minutes = df_final['Duration'].str.extract(r' (\d*)[m]')[0].astype(float)

In [87]:
# adding duration_hours (multiplied by 60 to convert into minutes) to duration_minutes to get total duration time in minutes
duration_minutes = duration_minutes.add(duration_hour*60, fill_value = 0)

In [88]:
df_final['Total_Duration_Minutes'] = duration_minutes # assigning total minutes to new column

In [90]:
# dropping Duration column
df_final.drop('Duration', axis = 1, inplace = True)

In [91]:
df_final.info() # checking column types

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 13351 non-null  object
 1   Source                  13351 non-null  object
 2   Destination             13351 non-null  object
 3   Total_Stops             13350 non-null  float64
 4   Additional_Info         13351 non-null  object
 5   Price                   10681 non-null  float64
 6   Date                    13351 non-null  int32
 7   Month                   13351 non-null  int32
 8   Year                    13351 non-null  int32
 9   Arrival_Hour            13351 non-null  int32
 10  Arrival_Minutes         13351 non-null  int32
 11  Dep_Hour                13351 non-null  int32
 12  Dep_Minutes             13351 non-null  int32
 13  Total_Duration_Minutes  13351 non-null  float64
dtypes: float64(3), int32(7), object(4)
memory usage: 1.2+ MB

### Transforming categorical variables using Label Encoding

#### Checking Airline column

In [93]:
# checking unique values in airline column
df_final['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [94]:
# importing library to perform encoding
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()

In [96]:
# encoding Airline column
df_final['Airline'] = label_encoder.fit_transform(df_final['Airline'])
df_final['Airline'].unique()

array([ 3,  1,  4,  8,  6,  2, 10,  0, 11,  5,  7,  9])

#### Checking Source

In [97]:
# encoding Source column
df_final['Source'] = label_encoder.fit_transform(df_final['Source'])
df_final['Source'].unique()

array([0, 3, 2, 1, 4])

#### Checking destination

In [98]:
# encoding destination column
df_final['Destination'] = label_encoder.fit_transform(df_final['Destination'])
df_final['Destination'].unique()

array([5, 0, 1, 4, 2, 3])

### Checking if all columns have been transformed

In [99]:
df_final.info() # checking dataframe after transformation

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 13351 non-null  int32
 1   Source                  13351 non-null  int32
 2   Destination             13351 non-null  int32
 3   Total_Stops             13350 non-null  float64
 4   Additional_Info         13351 non-null  object
 5   Price                   10681 non-null  float64
 6   Date                    13351 non-null  int32
 7   Month                   13351 non-null  int32
 8   Year                    13351 non-null  int32
 9   Arrival_Hour            13351 non-null  int32
 10  Arrival_Minutes         13351 non-null  int32
 11  Dep_Hour                13351 non-null  int32
 12  Dep_Minutes             13351 non-null  int32
 13  Total_Duration_Minutes  13351 non-null  float64
dtypes: float64(3), int32(10), object(1)
memory usage: 1.0+ MB

All columns have been transformed except `Additional_Info` column.

In [100]:
df_final.head(3)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_Hour,Arrival_Minutes,Dep_Hour,Dep_Minutes,Total_Duration_Minutes
0,3,0,5,0.0,No info,3897.0,24,3,2019,1,10,22,20,170.0
1,1,3,0,2.0,No info,7662.0,1,5,2019,13,15,5,50,445.0
2,4,2,1,2.0,No info,13882.0,9,6,2019,4,25,9,25,1140.0